@charset "utf-8";
body{font-size:12px;}
table, th, td {border:1px solid #b987c0; border-collapse:collapse; padding:10px;}

caption{font-size:18px; font-weight:bold; text-decoration:underline;  padding:10px;}
thead { background-color:rgb(224, 187, 224);}
 

.toNo, .tdDate , .tdCount {text-align:center;}
 .letters{
     text-align:center;
     background-color: white;
 }
 
tfoot { text-align:center;}
 

tbody a{ color:#333; }
 
tbody a:link{
    font-size:12px;
    text-decoration:none;
 }
 
tbody a:visited{
    font-size:12px;
    color:#333;
    text-decoration:none;
         
 }
tbody a:hover{ text-decoration:underline;}
tbody a:active { font-size:13px; font-family:궁서;}
 
 tfoot a{ color:#06F; }
 
 tfoot a:link{
    font-size:10px;
    text-decoration:none;
 }
 
 tfoot a:visited{
    font-size:12px;
    font-family:굴림;
    text-decoration:none;
         
 }
 tfoot a:hover{ text-decoration:underline;}
 tfoot a:active { font-size:13px; font-family:궁서;}
 