*{
    margin: 0 auto;
}
body{

    font-family: 'Noto Serif KR';
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 20px;
}
.navbar_logo{
    font-size: 30px;
    color: white;
}

.navbar_logo i{
    color:white;
    size: 10px;
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color:rgb(198, 163, 219);
    border-radius: 4px;
    align-items: center;
}
.navbar_icons{
    list-style: none;
    color: white;
    display: flex;
    font-size: 20px;
    padding-left: 0;
}

.navbar_icons li{
    padding: 8px 12px;
}

.navbar_toogleBtn{
    display: none;
    position: absolute;
    font-size: 24px;
    color:white;
}
.hide{margin-top:55px; font: 90% dotum; z-index:1}
#top{
    overflow: hidden;
    z-index:2;
    background-color: rgb(253, 206, 235);
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
#middle{
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding: 0;
    z-index:1;
    width: 100%;
    background-color: white;
    text-align: center;
}
#middle h6{
    padding: 8px;
    color: gray;
}
.bxslider{
    align-items: center;
    height: 600px;
}
.bxslider iframe{
    top: 40px;
    width: 100%;

}
#footer{
    position: absolute;
    overflow: hidden;
    text-align: center;
    height: 25px;
    width: 100%;
    padding: 0;
    margin: 0;
    bottom: 0;
    background-color: rgb(253, 206, 235);
}

.sidebar{
    position: fixed;
    z-index:2;
    top: 400px;
    width: 90px;
    border: solid rgb(250, 216, 222) 1px;
    background-color: white;
}
.content{
    padding: 20px;
   width: 500px;
    border: solid gray 2px;
    background-color: rgba(238, 250, 255, 0.87);
    list-style: none;
}
 .mood1, .mood2, .mood3{
    padding: 20px;
}

.mood1:hover, .mood2:hover, .mood3:hover{
    background-color: rgb(255, 248, 205);
}
@media screen and (max-width: 1050px){
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        margin: 10%;
        padding: 8px 20px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 80%;
        text-align: center;
    }
    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toogleBtn{
        display: block;
        left: 10px;

    }
    .navbar_menu.active{
        display : flex;
    }
    .navbar_icons.active{
        display : flex;
    }
    #top{
        position: fixed;
    }
    #middle{
        top: 80px;
        width: 100%;
    }
    .table tbody,
    .table1 tbody {
        display: block;
        flex-direction: column;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
      }
      .table tbody tr td,
      .table1 tbody tr td{
        display: block;
        flex-direction: column;
      }
}